.footer {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 2rem 0 1rem 0;
  font-size: 0.95rem;
  margin-top: 3rem;
}

.link {
  color: #fff;
  text-decoration: underline;
  transition: opacity 0.2s;
}

.link:hover {
  opacity: 0.8;
} 